<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>107761579614-abkjg85igg0rv95j5a0krfa03ip1sakp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.107761579614-abkjg85igg0rv95j5a0krfa03ip1sakp</string>
	<key>API_KEY</key>
	<string>AIzaSyDpxr-4UBfnSMd7J2NffSA2CW8xm-Nw_Tc</string>
	<key>GCM_SENDER_ID</key>
	<string>107761579614</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.justwender.stickers</string>
	<key>PROJECT_ID</key>
	<string>flutter-stickers</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-stickers.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:107761579614:ios:6603a2a2c8731be2</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-stickers.firebaseio.com</string>
</dict>
</plist>